body{
    background-color: #e8e8e8;
}

#bio{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            270px,
            2fr
        )
    );
    gap: 16px;
}